.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;    
}
.icon{
    display: flex;
}
.username{
    height: 40px;

}
.password{
    margin-top: 9px;
    height: 40px;
}
.button{
    background-color: red;
}

.signIn{
    font-size: 20px;

}

.myForm{
    width: 400px
}

.linkContainer{
 display: flex;
 justify-content: space-between;
 margin-top: 6px;
}